.wrapper{
    margin: 200px auto;
    overflow: hidden;
    width: 100%;
    width: 90%;
    position: relative;
}
.instruction{
    color: #ffff;
    font-weight: 400;
    margin: 0;
}
.iframe{
    width: 80% ;
    height: 80vh;
    overflow: hidden;
}
