.container{
    background-color: white;
    position: absolute;
    top:25%;
    left:10%;
    width: 75%;
    min-height: 60vw;
}
.headerWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.details{
    width: 90%;
    margin:0 auto;
    text-align: start;
    margin-top: 100px;
}

.dWrapper{
    display: flex;
    align-items: center;
}
.mainPhotoWrapper{
    margin: 20px;
}
.profilePictureWrapper{
 background-repeat: no-repeat;
}

.mainPhoto{
    object-fit: contain;
    max-width: 100%;
    max-height: 530px;
}
.mainPhoto:hover{
    cursor: pointer;
    opacity: 0;
}
.smallImagesWrapper{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.smallImages{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.smallImage{
    width: 18%;
    max-width: 150px;
    max-height: 120px;
    margin: 0 4px 8px 4px;
    position: relative;

}
.close{
    position: absolute;
    top:1px;
    right: -2px;
    color: #FC5321;
    font-size: 20px;
}
.close:hover, .closeForm:hover{
    cursor: pointer;
    transform:scale(1.2);

}
.smallImages:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.closeForm{
    color: #FC5321;
    font-size: 20px;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 28px;
}
.editButton{
    color: #FC5321;
    font-size: 20px;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 28px;
}
.title{
    font-size: 42px;
    margin: 30px 0 0 27px;
    text-align: start;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;

}

.description{
    width: 90%;
    margin: 80px auto;
    text-align: start;
}
.detailsText{
    line-height: 2;
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #FC5321;
}
.p{
    width: 80%;
    
}
.magnifying-glass {
    width: 800px;
  }
  .h2{
    font-weight: 400;
    font-style: italic;
    color: #FC5321;

  }
  .span{
      text-transform: capitalize;
      font-weight: 400;
  }
 
@media screen and (max-width:1280px){
    .container{
        width: 80vw;
    }
}
@media screen and (max-width:1000px){
    .container{
        width: 90vw;
        top:25%;
        left:5%;
    }
}
@media screen and (max-width:880px){
        .mainPhoto{
            max-width: 300px;
            max-height: 430px;
        }
    }
@media screen and (max-width:650px){
        .headerWrapper{
            display: block;
        }
        .mainPhoto{
            max-height: 430px;
        }
        .mainPhoto:hover{
            opacity: 100%;
        }
        .smallImagesWrapper{
            width: 80%;
            margin: 0 auto;
        }
        .smallImage{
            width: 20%;
        }
        .infoWrapper{
            width: 85%;
            margin:0 auto;
        }
        .title{
            text-align: center;
            font-size: 35px;
        }
        .dWrapper{
           justify-content: flex-start;
        }
        .details{
            margin: 20px auto;
            width: 50%;
        }
        .description{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
@media screen and (max-width:650px){
    .container{
        top: 8%;
    }
    .closeForm{
        top: 460px;
        right: 10px;
    }
    }
@media screen and (max-width:550px){
    .closeForm{
        top: 420px;
    }
    .dWrapper{
        width: 100%;
    
    }
    .details{
        width: 70%;
    }
    .span{
        font-size: 12px;
        width: 200px;
    }
    .p{
        text-align: justify;
    }
    }

